# Usage:
#     docker compose run archivebox init --setup
#     docker compose up
#     echo "https://example.com" | docker compose run archivebox archivebox add
#     docker compose run archivebox add --depth=1 https://example.com/some/feed.rss
#     docker compose run archivebox config --set MEDIA_MAX_SIZE=750m
#     docker compose run archivebox help
# Documentation:
#     https://github.com/ArchiveBox/ArchiveBox/wiki/Docker#docker-compose

version: '3.9'

services:
  app:
    image: archivebox/archivebox:dev
    command: server --quick-init
    ports:
      - 8000:8000
    volumes:
      - data:/data
    networks:
      - frontend
      - backend
    environment:
      - ALLOWED_HOSTS=*                   # don't restrict incoming traffic
      - CHECK_SSL_VALIDITY=False          # disable strict SSL checking
      - SAVE_ARCHIVE_DOT_ORG=False        # disable submitting all URLs to Archive.org
      - PUBLIC_INDEX=False                # no anonymous access
      - PUBLIC_SNAPSHOTS=False
      - PUBLIC_ADD_VIEW=False
      - SEARCH_BACKEND_ENGINE=sonic       # enable Sonic full text search
      - SEARCH_BACKEND_HOST_NAME=archivebox-sonic-1

  sonic:
    image: valeriansaliou/sonic:v1.4.3
    expose:
      - 1491
    environment:
      - SEARCH_BACKEND_PASSWORD=fdskjghdskj231
    networks:
      - backend
    volumes:
      - ./sonic.cfg:/etc/sonic.cfg:ro
      - sonicdata:/var/lib/sonic/store
    
volumes:
  data:
  sonicdata:

networks:
  frontend:
  backend: